@font-face {
   font-family: 'Anja Eliane';
   font-display: swap;
   src: url('file:///C:/Users/milen/AppData/Local/Mobirise.com/Mobirise/projects/project-2023-09-12_004117/fonts/Anja%20Eliane/font.ttf');
}
